@charset "UTF-8";
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.5;
  background: white;
  overflow-x: hidden; }

table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  float: none !important; }

table, th, td {
  vertical-align: middle; }

blockquote:before, blockquote:after, q:before, q:after {
  content: ''; }

blockquote, q {
  quotes: "" ""; }

a img {
  border: 0; }

:focus {
  outline: 0; }

ul, ol, li {
  list-style: none; }

button, input, select, textarea, label {
  vertical-align: middle;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h6, h6 {
  font-weight: bold;
  font-size: 100%; }

a:link {
  text-decoration: none; }

a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

body {
  background: #FFF;
  color: #5e5e5e;
  font: 12px/1.5 Arial,simsun;
  text-align: left; }

.wrapper {
  width: 990px;
  margin: 0 auto; }

.left {
  float: left; }

.right {
  float: right; }

.clear:after {
  clear: both;
  content: '.';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  height: 0; }

ul, ol, li {
  margin: 0;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none; }

a {
  color: #333;
  text-decoration: none;
  cursor: pointer;
  outline: none; }

p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px; }

#gome-header {
  padding-top: 5px; }
  #gome-header #logo {
    margin: 30px 40px 0 0; }
    #gome-header #logo a {
      display: block;
      width: 300px;
      height: 62px;
      margin-top: 20px;
      background: url("../images/register/registerlogo.png") no-repeat; }

#gome-content {
  height: 562px;
  padding: 0 0 21 0; }

#gome-foot-box {
  position: relative;
  padding: 20px 0 0;
  background: #f7f7f7; }
  #gome-foot-box .foot-box-top {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0; }
    #gome-foot-box .foot-box-top li {
      float: left;
      font: 12px/22px Arial,"Microsoft YaHei";
      padding: 0 13px 0 0;
      white-space: nowrap; }
      #gome-foot-box .foot-box-top li a {
        color: #666; }
  #gome-foot-box p {
    font: 12px/22px Arial;
    color: #999;
    margin: 0;
    padding: 0; }
  #gome-foot-box .foot-box-bot {
    border-top: 1px solid #e6e6e6;
    margin-top: 5px;
    padding: 10px 0 25px;
    overflow: hidden; }
    #gome-foot-box .foot-box-bot a i {
      display: block;
      width: 35px;
      height: 35px;
      float: left; }
    #gome-foot-box .foot-box-bot a:nth-of-type(1) i {
      background: url(../images/ui.png) no-repeat 0px -180px; }
    #gome-foot-box .foot-box-bot a:nth-of-type(2) i {
      background: url(../images/ui.png) no-repeat -35px -180px; }
    #gome-foot-box .foot-box-bot a:nth-of-type(3) i {
      background: url(../images/ui.png) no-repeat -70px -180px; }
    #gome-foot-box .foot-box-bot a:nth-of-type(4) i {
      background: url(../images/ui.png) no-repeat -105px -180px; }
    #gome-foot-box .foot-box-bot a:nth-of-type(5) i {
      background: url(../images/ui.png) no-repeat -140px -180px; }
    #gome-foot-box .foot-box-bot a:nth-of-type(6) i {
      background: url(../images/ui.png) no-repeat -175px -180px; }
    #gome-foot-box .foot-box-bot a b {
      font: 12px/18px Arial,"Microsoft YaHei";
      display: block;
      width: 60px;
      float: left;
      color: #999;
      padding: 0 30px 0 5px; }
    #gome-foot-box .foot-box-bot a:nth-of-type(3) b, #gome-foot-box .foot-box-bot a:nth-of-type(5) b {
      margin-top: 9px; }

.index-wrapper {
  position: relative;
  width: 1200px;
  margin: 0 auto; }

#gome-top {
  position: relative;
  border-bottom: 1px solid #f3f3f3;
  background: #f8f8f8;
  width: 100%;
  height: 30px;
  color: #5e5e5e;
  z-index: 999; }
  #gome-top .top-body {
    background: #f8f8f8;
    height: 30px; }
    #gome-top .top-body ul li {
      padding-right: 20px; }
      #gome-top .top-body ul li a {
        color: #5e5e5e;
        line-height: 30px; }
      #gome-top .top-body ul li i {
        display: inline-block;
        width: 7px;
        height: 4px;
        margin-left: 5px;
        margin-top: -4px;
        vertical-align: middle;
        background: url("../images/ui.png") no-repeat; }
      #gome-top .top-body ul li:nth-of-type(1) i {
        width: 7px;
        height: 4px;
        overflow: hidden;
        background-position: -62px -433px; }
      #gome-top .top-body ul li:nth-of-type(3) i {
        width: 12px;
        height: 13px;
        background-position: -145px -1496px; }
    #gome-top .top-body .top-right:nth-of-type(2) i {
      background-position: -62px -433px; }
    #gome-top .top-body .top-right:nth-of-type(4) i {
      background-position: -62px -433px; }
    #gome-top .top-body .top-right .server em {
      display: inline-block;
      width: 19px;
      height: 19px;
      margin-right: 6px;
      background: url("../images/ui.png") no-repeat -1px -513px;
      vertical-align: middle; }
    #gome-top .top-body .top-right .server i {
      background-position: -62px -433px; }
    #gome-top .top-body .top-right .phone-gome em {
      display: inline-block;
      width: 35px;
      height: 30px;
      margin-right: 6px;
      vertical-align: middle;
      background: blue;
      background: url("../images/ui.png") no-repeat -189px -132px; }
    #gome-top .top-body .top-right .phone-gome i {
      background-position: -62px -433px; }

#index-header {
  position: relative;
  height: 120px;
  vertical-align: middle;
  z-index: 980; }
  #index-header .index-logo {
    margin: 32px 10px 0 0; }
    #index-header .index-logo .logo-gif {
      margin-left: 10px; }
  #index-header .tosearch {
    position: absolute;
    width: 500px;
    top: 32px;
    left: 385px;
    z-index: 91; }
    #index-header .tosearch .search-box {
      border: 1px solid #dd00a7;
      position: relative;
      font-size: 14px;
      height: 30px;
      background: #fff; }
    #index-header .tosearch .searchType {
      position: absolute;
      top: 0;
      left: 0;
      font-family: 'Microsoft YaHei';
      font-size: 14px;
      color: #A5A5A5;
      float: left;
      width: 62px;
      height: 30px;
      line-height: 30px; }
      #index-header .tosearch .searchType .search-type {
        position: relative;
        width: 42px;
        padding: 0 10px;
        height: 30px;
        border-right: 1px solid #dd00a7; }
        #index-header .tosearch .searchType .search-type i {
          position: absolute;
          width: 11px;
          height: 7px;
          right: 9px;
          top: 11px;
          background: url("../images/ui.png") -145px -1469px; }
    #index-header .tosearch #searchInput {
      border: none;
      width: 310px;
      padding: 5px 5px 5px 72px;
      line-height: 20px;
      float: left;
      font-size: 14px;
      font-family: arial;
      color: #5E5E5E;
      background-color: transparent; }
    #index-header .tosearch .search-btn {
      width: 90px;
      height: 30px;
      border: none;
      cursor: pointer;
      float: right;
      display: inline;
      background: #dd00a7;
      font: 16px/30px 'microsoft yahei';
      color: #fff;
      letter-spacing: 2px;
      text-indent: 0; }
    #index-header .tosearch .hotkeyword {
      margin: 6px 0 0;
      _margin-top: 1px;
      color: #A5A5A5;
      overflow: hidden;
      line-height: 14px;
      height: 14px;
      _height: 16px;
      font-size: 12px; }
      #index-header .tosearch .hotkeyword a {
        display: inline-block;
        margin-right: 5px;
        line-height: 14px;
        color: #A5A5A5;
        font-family: 'microsoft yahei'; }
  #index-header .tocart {
    position: relative;
    vertical-align: middle;
    margin: 30px 0 0 0; }
    #index-header .tocart .cartlink {
      padding: 5px 20px 0 45px;
      line-height: 34px;
      height: 34px;
      width: 75px; }
      #index-header .tocart .cartlink em {
        position: absolute;
        width: 27px;
        height: 20px;
        background: url("../images/ui.png") -100px -701px;
        top: 11px;
        left: 10px; }
        #index-header .tocart .cartlink em .shopnum {
          position: absolute;
          height: 18px;
          line-height: 18px;
          padding: 0 3px;
          top: -18px;
          min-width: 14px;
          _width: 14px;
          text-align: center;
          left: 15px;
          background-color: #A5A5A5;
          color: #FFF;
          font-weight: 700; }
      #index-header .tocart .cartlink b {
        z-index: 96;
        position: absolute;
        width: 0;
        height: 0;
        border: 4px dashed transparent;
        border-color: #5E5E5E transparent transparent;
        border-bottom: 0;
        border-top-style: solid;
        top: 10px;
        right: 10px;
        overflow: hidden; }

.category {
  height: 40px;
  border-bottom: 1px solid #dd00a7;
  background: #f8f8f8; }
  .category .categorybox {
    height: 40px; }
    .category .categorybox h2 {
      width: 200px;
      height: 40px;
      background: #f1f1f1;
      float: left;
      opacity: 0.9; }
      .category .categorybox h2 a {
        color: #585858;
        font-family: 'Microsoft YaHei';
        font-weight: 700;
        font-size: 15px;
        line-height: 40px;
        padding-left: 15px;
        float: left; }
    .category .categorybox #navBox {
      top: 41px;
      z-index: 200;
      width: 200px;
      height: 450px;
      position: absolute;
      left: 0; }
      .category .categorybox #navBox .lisbg {
        opacity: .7;
        filter: Alpha(opacity=70);
        width: 200px;
        height: 450px;
        color: #333;
        background: #333;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000; }
      .category .categorybox #navBox .lisnav-ul {
        position: relative;
        z-index: 9999; }
        .category .categorybox #navBox .lisnav-ul h3 {
          position: relative;
          padding-left: 15px;
          height: 30px;
          line-height: 30px;
          width: 170px;
          white-space: nowrap;
          overflow: hidden;
          margin-left: 1px; }
          .category .categorybox #navBox .lisnav-ul h3 a {
            color: #fff;
            font-size: 14px;
            font-family: 'Microsoft YaHei',arial;
            font-weight: 200;
            display: inline-block;
            margin-right: 3px; }
        .category .categorybox #navBox .lisnav-ul li {
          height: 30px;
          position: relative;
          overflow: hidden; }
    .category .categorybox .mainnav {
      float: left;
      height: 38px;
      width: 800px;
      overflow: hidden;
      position: relative; }
      .category .categorybox .mainnav li {
        position: relative;
        float: left;
        padding: 0 13px;
        text-align: center;
        line-height: 38px;
        white-space: nowrap; }
        .category .categorybox .mainnav li a {
          color: #000;
          font-size: 15px;
          line-height: 40px;
          font-family: 'Microsoft YaHei'; }

#banner {
  height: 450px;
  width: 100%;
  background: #eee;
  position: relative; }
  #banner > div {
    left: 50%;
    position: absolute;
    top: 0;
    z-index: 999; }
    #banner > div img {
      vertical-align: middle; }
  #banner .bg-l {
    margin-left: -900px; }
    #banner .bg-l img {
      width: 300px;
      height: 450px; }
  #banner .bg-r {
    margin-left: 600px; }
    #banner .bg-r img {
      width: 300px;
      height: 450px; }
  #banner .focus_box li {
    position: absolute;
    height: 450px;
    width: 100%;
    /*左上角图片定位*/ }
    #banner .focus_box li a {
      position: absolute;
      left: 50%;
      margin-left: -400px;
      cursor: pointer; }
      #banner .focus_box li a img {
        display: block;
        width: 750px;
        height: 450px; }
    #banner .focus_box li .promotion_tags_left {
      margin-left: -380px;
      top: 0;
      position: absolute;
      left: 50%;
      opacity: .9; }
  #banner .nav {
    position: absolute;
    bottom: -430px;
    left: 50%;
    margin-left: -400px;
    width: 750px;
    height: 15px;
    text-align: center;
    cursor: pointer;
    display: block; }
    #banner .nav li {
      width: 30px;
      height: 13px;
      display: inline-block;
      zoom: 1; }
      #banner .nav li a {
        display: block;
        width: 30px;
        height: 5px;
        background: #000;
        opacity: .3;
        margin-top: 4px; }
  #banner .slider-extra > .btn {
    position: absolute;
    z-index: 59;
    left: 50%;
    top: 185px;
    width: 40px;
    height: 80px; }
    #banner .slider-extra > .btn .btnbg {
      display: block;
      background: #000;
      opacity: .2;
      top: 0;
      left: 0;
      width: 40px;
      height: 80px;
      position: absolute; }
    #banner .slider-extra > .btn p {
      width: 40px;
      height: 80px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 50;
      margin: 0;
      cursor: pointer;
      background: url("../images/ui2.png") no-repeat; }
  #banner .slider-extra .pre {
    margin-left: 268px; }
    #banner .slider-extra .pre .go_l {
      background-position: 0 -112px; }
  #banner .slider-extra .nex {
    margin-left: 309px; }
    #banner .slider-extra .nex .go_r {
      background-position: -42px -112px; }
  #banner .gm_sever_wrap {
    background: #fff;
    height: 448px;
    border: 1px solid #e6e6e6;
    border-left: none;
    margin-left: 349px;
    position: absolute;
    top: 0;
    left: 50%;
    width: 250px; }
    #banner .gm_sever_wrap .gm_sever {
      display: block;
      position: relative;
      overflow: hidden;
      width: 250px;
      height: 430px;
      left: 0;
      top: 10px; }
      #banner .gm_sever_wrap .gm_sever .gm_kuaixun {
        height: 146px;
        width: 220px;
        overflow: hidden;
        margin: 0 15px;
        border-bottom: 1px dashed #ccc; }
      #banner .gm_sever_wrap .gm_sever .gome_news {
        height: 36px;
        width: 220px;
        overflow: hidden; }
        #banner .gm_sever_wrap .gm_sever .gome_news h2 {
          font-size: 14px;
          float: left;
          color: #333;
          margin-top: 12px;
          font-weight: 400;
          vertical-align: baseline; }
        #banner .gm_sever_wrap .gm_sever .gome_news a {
          font-size: 12px;
          text-align: center;
          margin-top: 13px;
          color: #888;
          float: right; }
      #banner .gm_sever_wrap .gm_sever .gome_news_content span {
        display: block;
        width: 250px;
        height: 26px;
        font-size: 12px;
        line-height: 26px; }
        #banner .gm_sever_wrap .gm_sever .gome_news_content span .gome_news_sort {
          color: #888;
          margin-right: 7px;
          float: left;
          display: block;
          width: 24px;
          overflow: hidden;
          height: 26px; }
        #banner .gm_sever_wrap .gm_sever .gome_news_content span .gome_news_text {
          display: inline-block;
          float: left;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 196px; }
      #banner .gm_sever_wrap .gm_sever .icon_server_box {
        height: 216px;
        width: 250px;
        position: relative; }
        #banner .gm_sever_wrap .gm_sever .icon_server_box .icon_box {
          width: 220px;
          height: 216px;
          overflow: hidden;
          left: 15px;
          position: absolute; }
          #banner .gm_sever_wrap .gm_sever .icon_server_box .icon_box li {
            height: 70px;
            padding-top: 2px;
            float: left;
            width: 55px;
            position: relative;
            overflow: hidden;
            text-align: center; }
            #banner .gm_sever_wrap .gm_sever .icon_server_box .icon_box li .icon_server_a {
              display: block;
              height: 71px;
              width: 38px;
              position: absolute;
              left: 14px; }
              #banner .gm_sever_wrap .gm_sever .icon_server_box .icon_box li .icon_server_a .gm-icon {
                color: #373737;
                font-size: 32px;
                margin-left: -13px; }
              #banner .gm_sever_wrap .gm_sever .icon_server_box .icon_box li .icon_server_a .icon_server_li_titile {
                color: #5e5e5e;
                margin-left: -5px;
                width: 36px;
                height: 20px;
                overflow: hidden;
                display: block;
                margin-top: -3px;
                font-style: normal; }

.foot-border {
  border-top: 1px solid #dd00a7;
  background: #f7f7f7;
  margin-top: 15px;
  zoom: 1; }

.clearfix-box {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding: 20px 0 0;
  background: #f7f7f7; }
  .clearfix-box .clearfix {
    display: inline-block;
    padding: 0 50px 30px 0;
    width: 265px; }
    .clearfix-box .clearfix i {
      display: block;
      width: 45px;
      height: 45px;
      float: left;
      background: url("../images/ui.png") 0 -135px; }
    .clearfix-box .clearfix:nth-of-type(1) i {
      background-position: 0 -135px; }
    .clearfix-box .clearfix:nth-of-type(2) i {
      background-position: -45px -135px; }
    .clearfix-box .clearfix p strong {
      color: #333;
      display: block;
      font: 400 16px/25px Arial,"Microsoft YaHei"; }
    .clearfix-box .clearfix p a {
      color: #999; }
  .clearfix-box .qrcode-section {
    position: absolute;
    right: -10px;
    top: 15px;
    font-size: 0; }
    .clearfix-box .qrcode-section em.code-sm {
      width: 50px;
      margin: 0 10px;
      display: inline-block;
      vertical-align: top;
      text-align: center;
      position: relative; }
      .clearfix-box .qrcode-section em.code-sm > i {
        width: 40px;
        height: 25px;
        background: url("../images/ui.png") -105px -135px;
        display: inline-block; }
      .clearfix-box .qrcode-section em.code-sm:nth-of-type(2) i {
        background-position: -185px -135px; }
      .clearfix-box .qrcode-section em.code-sm p {
        font: 12px/22px Arial;
        color: #999; }
      .clearfix-box .qrcode-section em.code-sm > div {
        position: absolute;
        padding: 10px;
        border: 1px solid #eee;
        z-index: 1000;
        background: #ffffff;
        left: -50px;
        bottom: 80px; }
        .clearfix-box .qrcode-section em.code-sm > div > img {
          display: block;
          width: 171px;
          border: none;
          vertical-align: middle; }

/*# sourceMappingURL=cart.css.map */
