@charset 'utf-8';
@import 'public';
.index-wrapper{
    position: relative;
    width: 1200px;
    margin: 0 auto;
}


#gome-top{
    position: relative;
    border-bottom: 1px solid #f3f3f3;
    background: #f8f8f8;
    width:100%;
    height: 30px;
    color: #5e5e5e;
    z-index: 999;
    .top-body{
        // position: relative;
        background: #f8f8f8;
        height: 30px;
        
       ul{
           li{
           padding-right:20px;
          a{
        color: #5e5e5e;
        line-height:30px;
        }
        i{
            display: inline-block;
            width: 7px;
            height: 4px;
            margin-left: 5px;
            margin-top: -4px;
            vertical-align: middle;
            background: url('../images/ui.png') no-repeat;
        } 
        &:nth-of-type(1) i{
            width: 7px;
            height: 4px;
            overflow: hidden;
            background-position: -62px -433px;
        }
        &:nth-of-type(3) i{
            width: 12px;
            height: 13px;
            background-position: -145px -1496px;
            }
        }
       } 
       .top-right{
           &:nth-of-type(2) i{
            background-position: -62px -433px;
           }
           &:nth-of-type(4) i{
            background-position: -62px -433px;
           }
           .server{
               em{
                display:inline-block;
                width: 19px;
                height: 19px;
                margin-right:6px;
                background: url('../images/ui.png') no-repeat -1px -513px;
                vertical-align: middle;
               }
               i{
                background-position: -62px -433px;
                }
           }
           .phone-gome{
            em{
                display:inline-block;
                width: 35px;
                height: 30px;
                margin-right:6px;
                vertical-align: middle;
                background: blue;
                background: url('../images/ui.png') no-repeat -189px -132px;
               }
               i{
                background-position: -62px -433px;
            }
           }
       }
    }
}
#index-header{
    position: relative;
    height: 120px;
    vertical-align: middle;
    z-index: 980;
    .index-logo{
        margin: 32px 10px 0 0;
        .logo-gif{
           margin-left:10px; 
        }
    }
    .tosearch{
        position: absolute;
        width: 500px;
        top: 32px;
        left: 385px;
        z-index: 91;
        .search-box{
            border: 1px solid #dd00a7;
            position: relative;
            font-size: 14px;
            height: 30px;
            background: #fff;
                 
        }
        .searchType{
            position: absolute;
            top: 0;
            left: 0;
            font-family: 'Microsoft YaHei';
            font-size: 14px;
            color: #A5A5A5;
            float: left;
            width: 62px;
            height: 30px;
            line-height: 30px;
            .search-type{
                position: relative;
                width: 42px;
                padding: 0 10px;
                height: 30px;
                border-right: 1px solid #dd00a7;
                    i{
                        position: absolute;
                        width: 11px;
                        height: 7px;
                        right: 9px;
                        top: 11px;
                        background: url('../images/ui.png') -145px -1469px;
                    }
                }
            }  
            #searchInput{
                border: none;
                width: 310px;
                padding: 5px 5px 5px 72px;
                line-height: 20px;
                float: left;
                font-size: 14px;
                font-family: arial;
                color: #5E5E5E;
                background-color: transparent;
            }   
            .search-btn{
                width: 90px;
                height: 30px;
                border: none;
                cursor: pointer;
                float: right;
                display: inline;
                background: #dd00a7;
                font: 16px/30px 'microsoft yahei';
                color: #fff;
                letter-spacing: 2px;
                text-indent: 0;
            }
            .hotkeyword {
                margin: 6px 0 0;
                _margin-top: 1px;
                color: #A5A5A5;
                overflow: hidden;
                line-height: 14px;
                height: 14px;
                _height: 16px;
                font-size: 12px;
                a{
                    display: inline-block;
                    margin-right: 5px;
                    line-height: 14px;
                    color: #A5A5A5;
                    font-family: 'microsoft yahei';
                }
            } 
        }
        .tocart{
            position:relative;
            vertical-align: middle;
            margin:30px 0 0 0;
        .cartlink {
                padding: 5px 20px 0 45px;
                line-height: 34px;
                height: 34px;
                width: 75px;
                em{
                    position: absolute;
                    width: 27px;
                    height: 20px;
                    background: url('../images/ui.png') -100px -701px;
                    top: 11px;
                    left: 10px;
                    .shopnum {
                        position: absolute;
                        height: 18px;
                        line-height: 18px;
                        padding: 0 3px;
                        top: -18px;
                        min-width: 14px;
                        _width: 14px;
                        text-align: center;
                        left: 15px;
                        background-color: #A5A5A5;
                        color: #FFF;
                        font-weight: 700;
                    }
                }
                b {
                    z-index: 96;
                    position: absolute;
                    width: 0;
                    height: 0;
                    border: 4px dashed transparent;
                    border-color: #5E5E5E transparent transparent;
                    border-bottom: 0;
                    border-top-style: solid;
                    top: 10px;
                    right: 10px;
                    overflow: hidden;
                }
            }
        }
    }
   

    .category{
        height: 40px;
        border-bottom: 1px solid #dd00a7;
        background: #f8f8f8;
        .categorybox{
            height:40;
           
        }
    }




.foot-border{
    border-top: 1px solid #dd00a7;
    background: #f7f7f7;
    margin-top: 15px;
    zoom: 1; 
}
.clearfix-box{
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding: 20px 0 0;
    background: #f7f7f7;
    .clearfix{
        display: inline-block;
        padding: 0 50px 30px 0;
        width:265px;
        i{
        display: block;
        width: 45px;
        height: 45px;
        float: left; 
        background: url('../images/ui.png') 0 -135px; 
        }
    &:nth-of-type(1) i{
        background-position: 0 -135px;
    }   
    &:nth-of-type(2) i{
        background-position: -45px -135px;;
    }
    p{
    strong{
    color: #333;
    display: block;
    font: 400 16px/25px Arial,"Microsoft YaHei";
        }  
    a{
        color: #999;
    }  
    }
     
    }
    .qrcode-section{
        position: absolute;
        right: -10px;
        top: 15px;
        font-size: 0;
      em.code-sm {
            width: 50px;
            margin: 0 10px;
            display: inline-block;
            vertical-align: top;
            text-align: center;
            position: relative;
            >i{
                width: 40px;
                height: 25px;
                background: url('../images/ui.png') -105px -135px;
                display: inline-block;
            }
            &:nth-of-type(2) i{
                background-position: -185px -135px;
            }
            p{
                font: 12px/22px Arial;
                color: #999;
            }
            >div{
                position: absolute;
                padding: 10px;
                border: 1px solid #eee;
                z-index: 1000;
                background: #ffffff;
                left: -50px;
                bottom: 80px;
                >img{
                    display: block;
                    width: 171px;
                    border: none;
                    vertical-align:middle;
                }
               
            }
          
        }
    }
}
