@charset 'utf-8';
@import 'public';
#gome-header{
    #logo{
        .login-logo{
            background: url('../images/login/loginlogo.png') no-repeat;
        }
    }
}
#content-bg{
    width: 100%;
    height: 480px;
    background: #00e6eb;
    .main-login{
        height:480px;
        width:1200px;
        background-image: url('http://gfs13.gomein.net.cn/T1LjLgB5_T1RCvBVdK.gif');
        background-position: top center;
        position: relative;
        z-index: 990;
        .login-box{
            width: 350px;
            float: right;
            margin-top: 24px;
            margin-right: 105px;
            position: relative;
            background: #fff;
            overflow: visible;
        }

    }
    .login-header{
        position: relative;
        height:55px;
         .loginTab{
            float:left;
            width:174px;
            height:54px;
            border-bottom: 1px solid #f4f4f4;
            font: 500 18px "Microsoft Yahei";
            text-align: center;
            color: #5e5e5e;
            position:relative;
                a {
                    height: 18px;
                    position: absolute;
                    left: 0;
                    width: 99%;
                    text-decoration: none;
                    top: 16px;
                    border-right: 1px solid #f4f4f4;
                 &.cur{
                        color:red;
                    }
                }
               
            }
        }
        .login-content{
            width: 320px;
            height:250px;
            #qrcodeMain{
                display:block;
                width: 320px;
                .qrcode-main{
                    position: relative;
                    height: 165px;
                    text-align: center;
                .qrcode{
                    float: left;
                    position: absolute;
                    left: 85px;
                    top:30px;
                    border: 1px solid #e6e6e6;
                    }
                    .qrcode-help{
                        display:none;
                       left:200px;
                        top:30px;
                        border:none;
                        opacity:0.9;
                        
                    }
                }
                .qrcode-tip{
                    height:80px;
                    width: 320px;
                    padding-top:30px;
                    text-align: center;  
                    position:relative;
                    .fontBlink{
                        position:absolute;
                        right:0;
                        bottom:10px;
                        color:#e40264;
                        text-decoration:underline;
                    }
                } 
            }
           #login-form{
                    display:none;
                    margin-top:30px;
                   .err-tips{
                       visibility:hidden;
                        i{
                            width: 14px;
                            height: 14px;
                            overflow: hidden;
                            float: left;
                            margin: 4px 5px 0 10px;
                            display: inline-block;
                           background: url('../images/login/spr-icon.png') no-repeat -41px -54px;
                        }
                   }
                .checkbox{
                    margin:20px 20px 20px 20px;
                    position:relative;
                    .checkbox-right{
                        position:absolute;
                        right:-20px;
                        top:0px;
                       a{
                        color: #888585; 
                       }
                       .free-register{
                           color:blue;
                       }
                    }
                    input{
                        margin-right:10px;
                    }
                }
                p{
                   margin:10px 20px 0;
               
                   >input{
                        width: 288px;
                        height: 36px;
                        padding: 4px 10px;
                        border: 1px solid #ccc;
                        font: normal 14px/36px Arial,"Simsun";
                        color: #D3CCCC;
                        vertical-align: middle;
                        position: relative;
                    }
                    #login-submit{
                        width: 308px;
                        height: 42px;
                        color:white;
                        font-size:18px;
                        font-weight:bold;
                        background:red;
                        border:none;
                        letter-spacing:10px;
                    }
                }
           }
           
        }
        .login-bot{
            overflow: hidden;
            clear: both;
            background-color: #fcfcfc;
            padding: 9px 5px;
            color: #a5a5a5;
            position: relative;
            border: 1px solid #f0f0f0;
            a{
                float: left;
                white-space: nowrap;
                cursor: pointer;
                color: #5e5e5e;
                padding: 0 5px;
                margin: 6px 0;
                border-right:1px solid #E7E6E6;
                &:hover{
                     color: red;
                }
            }
        }
       
    }

 
   

